body{
	text-align:center;
	background: #777;
	background-image: url("1.png");
	width:1050px;
	margin:0 auto;
}

	#header{
		padding:0;
		width: 1050px;
		background-color: #ffffff;
		overflow:auto;
		border-bottom: 2px solid #E2E2E2;

	}	

		#name{
			float:left;
			background-color: #4EAAA4;
			font-family: 'Georgia', "Times", "Times New Roman", "serif";
			font-weight: bold;
			color: white;
			padding:25px;
			font-size: 20px;
			margin:50px 50px 0 120px;
		}

		#nav{ 
			float:left;
			width: 400px;
			background-color:#ffffff;
			margin:78px 10px 0px 195px;
		}

			#nav ul{
				padding:0px 20px 0 70px;


			}

			#nav li{
				height:16px;
				list-style: none;
				float:left;
				font-size:16px;
				padding: 0px 10px 0px 10px;
				color:#d6d4d4;
			}
				#list2{
					
					border-right: 2px solid #d6d4d4;
					border-left: 2px solid #d6d4d4;
				}


	#section { 
		float:left;
		padding-top:40px;
		height:360px;
		width:490px;
		background-color: #ffffff;
		margin:30px 0px 40px 120px;
		overflow:auto;
	}
		
		#title{
			font-family: 'Georgia', "Times", "Times New Roman", "serif";
			background-color: #ffffff;
			padding:20px;
			margin:-30px 0  0  -310px;
			color: #4EAAA4;
			font-size: 20px;
			font-weight: bold;

		}

		#hr1{

			margin: 0 40px 0 40px;
		}

		#mypic {
			float:left;
			margin: 25px 10px 0px 40px;

		}
	
		#content{
			text-align:left;
			line-height: 1.5;
			background-color: #ffffff;
			padding:3px 40px 0 40px;
			margin:0 0 0 0px;
			color: #777;
		}
		
	#aside { 
		font-family: 'Georgia', "Times", "Times New Roman", "serif";
		color: #4EAAA4;
		font-size: 17px;
		font-weight: bold;
		float: left;
		padding-top:30px;
		height:145px;
		width: 230px;
		background-color: #ffffff;
		margin:30px 0 25px 55px;
	}
			#title2 {
				margin: 5px 0 -5px 0 ;

			}

			#hr2{ 
				margin: 20px 28px 10px 28px;

			}

			#links {

				margin: 20px 0 0 25px;

			}

				#github{
				float:left;
				}

				#linkedin {
				float:left;
				}

				#stack {
				float:left;
				margin: 3px 0 0 3px;
				}



	#footer { 

		clear: both;
 		padding:30px 0 30px 0;
		width:1050px;
		background-color: #666666;
		border-top: 6px solid #4EAAA4;
	}



    @media screen and (max-width: 980px) {


		body {

			width:100%;
			padding:0px;
			margin:0;
		}

		

		#name {
			margin:0px 120px 0px 125px;
			
		}
		#nav {
			text-align: right;
			padding:0;
			margin:0 auto;
		
		}

			#nav ul {
				text-align: right;
				margin:5px 0px 0px 85px;
				padding: 20px 0px 0px 0px;
			}

			#nav li {
				padding:0 15px 0px 15px;
			}
		
		#section {

			width:400px;
			
			height: 700px;
			margin:30px 0px 30px 125px;
			padding:10px 0px 0px 0px;

		}

			#title {
				margin:0 220px 0 0;
			}
		
			#mypic {
				width: 300px;
				height:300px;
				margin:20px 30px 20px 50px;
				padding:0;
			}

			#mypic img{
				width:300px;
				height:300px;
			}
			#content{
				text-align: center;
				
			}


		#aside {
			position:static;
			margin:30px 50px 15px 40px;
			
		}

			#title2{
				margin: 0 0px 0 0;
			}
		#footer {
			width:100%;
		}
	

	}


	


	@media screen and (max-width: 768px) {


		body {

			width:100%;
			padding:0px;
			margin:0;
		}

		

		#name {
			margin:0px 120px 0px 15px;
			
		}
		#nav {
			text-align: right;
			padding:0;
			margin:0;
		
		}

			#nav ul {
				text-align: right;
				margin:5px -30px 0px 100px;
				padding: 20px 0px 0px 0px;
			}

			#nav li {
				padding:0 20px 0px 20px;
			}
		
		#section {
			width: 95%;
			height: 430px;
			margin:15px 0 0 15px;
			padding:10px 0px 0px 0px;

		}

			#title {
				margin:0 550px 0 0;
			}
		
			#mypic {
				width: 300px;
				height:300px;
				margin:20px 30px 20px 40px;
				padding:0;
			}

			#mypic img{
				width:300px;
				height:300px;
			}
			#content{
				text-align: center;
				
			}


		#aside {
			margin:30px 0 15px 15px;
			width:95%;
		}

			#title2{
				margin: 0 525px 0 0;
			}
		#footer {
			width:100%;
		}
	

	}

	@media screen and (max-width: 640px) {


		body {

			width:100%;
			padding:0px;
			margin:0;
		}

		#header{
			
			width:100%;
		}

		#name {
			margin:0 0px 0 -30px;
			width:100%;
		}
		#nav {
			padding:0;
			margin:0;
			width:100%;
		}

			#nav ul {
				width:100%;
				margin:0 0 20px 0;
				padding: 20px 0px 20px 0px;
			}

			#nav li {
				padding:0 70px 0px 70px;
			}
		
		#section {
			width: 95%;
			height:700px;
			margin:15px 0 0 15px;
			padding:10px 0 0 0px;

		}

			#title {
				margin:0 400px 0 0;
			}
		
			#mypic {
				width: 600px;
				height:400px;
				margin:20px 0px 20px -10px;
				padding:0;
			}

			#mypic img{
				width:400px;
				height:400px;
			}
			#content{
				text-align: center;
				
			}


		#aside {
			margin:30px 0 15px 15px;
			width:95%;
		}

			#title2{
				margin: 0 375px 0 0;
			}
		#footer {
			width:100%;
		}
	

	}	










